body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background: rgb(25, 26, 29);
}

.header-wrapper {
    height: 92px;
    width: 100%;
    /*padding-left: 15px;*/
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > .navigation-wrapper {
    width: 760px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > .navigation-wrapper > .logo {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header-wrapper > .navigation-wrapper > .logo > .logo-wrapper-link > img {
    height: 35px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    filter: invert();
}

.header-wrapper > .navigation-wrapper > .links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2px;
    justify-content: left;
    align-items: center;
    width: 350px;
}

.header-wrapper > .navigation-wrapper > .links-wrapper > .yellow-label {
    font-size: 0.9em;
    color: rgb(244, 225, 135);
    text-transform: uppercase;
    font-weight: 900;
}

.header-wrapper > .navigation-wrapper > .links-wrapper > .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > .navigation-wrapper > .links-wrapper > .nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bolder;
    transition: 0.5s;
}

.header-wrapper > .navigation-wrapper > .spark-wrapper {
    color: #ACACAC;
    width: 85px;
    height: 36px;
    font-size: 1.3em;
    font-weight: bolder;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}

.header-wrapper > .navigation-wrapper > .spark-wrapper > .spark-arrow i {
    font-size: 0.8em;
}

.header-wrapper > .right-wrapper {
    padding-right: 25px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > .right-wrapper > .gray-buttons {
    width: 150px;
    height: 65px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    background-color: rgb(54, 56, 63);
    border: none;
    border-radius: 6px;
}

.header-wrapper > .right-wrapper > .gray-buttons > .create-arrow {
    padding-left: 9px;
    padding-top: 5px;
    align-self: center;
    font-size: 1.3em;
    color: rgb(75, 206, 121);
}

.header-wrapper > .right-wrapper > .search-icon {
    width: 50px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(122, 124, 140);
    font-weight: 500;
    font-size: 2em;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.mid-wrapper {
    height: 705px;
    width: 100%;
    /*padding-left: 15px;*/
    /*background: hsl(232.5deg, 11.76%, 13.33%);*/
    background: radial-gradient(circle 800px at top left, #393D45, rgb(40, 42, 48));
    color: #cccccc;
    display: grid;
    grid-template-columns: 1020px auto;
}

.mid-wrapper > .left-side-wrapper {
    width: 882px;
    padding: 60px 39px;
}


.mid-wrapper > .left-side-wrapper > .text-wrapper > .text-one {
    line-height: 1.15;
    font-size: 3.2em;
    font-weight: 300;
}

.mid-wrapper > .left-side-wrapper > .text-wrapper > .text-one > .highlighted-text {
    font-weight: 703;
    color: white;
}

.mid-wrapper > .left-side-wrapper > .text-wrapper > .spacer30 {
    height: 60px;
    width: 100%;
 }

.mid-wrapper > .left-side-wrapper > .text-wrapper > .text-two {
    line-height: 1.25;
    font-size: 2.8em;
    font-weight: 700;
    padding: 0px 0px 60px 0px;
    color: #999999;
}

.mid-wrapper > .left-side-wrapper > .buttons-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    column-gap: 20px;
}

.mid-wrapper > .left-side-wrapper > .buttons-wrapper > .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-wrapper > .left-side-wrapper > .buttons-wrapper > .button-wrapper > .sign-up-free {
    background-color: rgb(75, 206, 121);
    color: black;
    border: none;
    border-radius: 6px;
    width: 250px;
    height: 67px;
    font-size: 1.8em;
}

.mid-wrapper > .left-side-wrapper > .buttons-wrapper > .button-wrapper > .learn-more{
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    width: 210px;
    height: 67px;
    font-size: 1.8em;
    font-weight: bolder;
}

.mid-wrapper > .right-side-wrapper {
    padding-top: 36px;
    height: 409px;
}

.mid-wrapper > .right-side-wrapper > .title-wrapper {
    padding-left: 160px;
}

.mid-wrapper > .right-side-wrapper > .title-wrapper > .title {
    color: #ffffff;
    font-size: 1.8em;
    line-height: 50px;
    font-weight: bold;
}

.mid-wrapper > .right-side-wrapper > .title-wrapper > .title > .codepen-link{
    text-decoration: none;
    color: rgb(88, 212, 252);
    font-weight: bold;
}

.mid-wrapper > .right-side-wrapper > .project-image-wrapper > .project-image-container > .project-image {
    width: auto;
    height: 614px;
    max-height: 100%;
    margin-bottom: -4px;
}

.mid-wrapper > .right-side-wrapper > .project-image-wrapper > .project-image-container {
    padding-left: 150px;
}

.mid-wrapper > .right-side-wrapper > .project-image-wrapper > .project-image-container > .project-image {
    margin-left: 8px;
    width: fit-content;
    box-shadow: -5px 5px 3px 0px rgba(0,0,0,.2);
}

.footer-wrapper {
    background: rgb(54, 56, 63);
    color: #ffffff;
    height: 70px;
    width: 100%;
    /*padding-left: 15px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.footer-wrapper > .footer-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(96, 96, 96);
}

.footer-wrapper > .footer-link-wrapper a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
}

.footer-wrapper > .footer-link-wrapper > a > .bold-span{
    font-weight: bolder;
    font-size: 1.4em;
    letter-spacing: -1px;
    text-transform: uppercase;
}